/*  a=0 b=0 c=0 -> Specificity=0 */
section ul,ol {
    background-color: white;
    color: darkslategray;
    margin: 0.5em 2em;
}
/* a=0 b=0 c=2 -> Specificity=2 */
section li{
    letter-spacing: 0.3px;
    list-style: circle;
    font-family: Tahoma, Constantia, sans-serif;
}