body {
    font: 400 15px Tahoma, sans-serif;
    line-height: 1.8;
    color: #818181;
    background-color: cadetblue;
}
section p,img, audio,video {
    background-color: white;
    color: darkslategrey;
    margin:15px;
    padding: 5px;
}
header h1{
    background-color: darkslategray;
    color: #fff;
    padding: 70px 15px;
    text-align: center;
}
nav ul >  li{
    display: inline;
    text-align: center;
}
footer,h2,h3,h4, a{
    color: white;
}