ul, ol > li{
    line-height: 2.3;
    font-family: "Yu Gothic";
}
table, table caption{
    font-family: Arial, sans-serif;
    font-size: medium;
    background-color: black;
    color: white;
}
tr:first-child{
    color:aqua;
}
#fechas {
    font-family: "Courier New";
    margin:10px;
    letter-spacing: 0.3em;
}
#episodios{
    padding: 1em;
    text-align: center;
}
#temporada{
    padding: 1em;
}