h1,h2,h3,h4,h5,h6{
    font-family: Arial, sans-serif;
    font-weight: bold;
    border:solid;
    margin: 20px;
    alignment: center;
    text-transform: uppercase;
}
h1,h3,h5{
    font-stretch: expanded;
    margin: 25px;
}
h2,h4,h6{
    font-style: italic;
}
h1{
    font-size: 2em;
    background-color: red;
    color:black;
    letter-spacing: 4em;
    border-radius: 15px;
}
h2{
    font-size: 1.9em;
    background-color: indianred;
    color:black;
}
h3{
    font-size: 1.8em;
    background-color: indianred;
    color:black;
}
h4{
    font-size: 1.7em;
    background-color: indianred;
    color:black;
}
h5{
    font-size: 1.6em;
    background-color: coral;
    color:black;
}
h6{
    font-size:1.4em;
    background-color: coral;
    color:black;
}
p, ul, ol,li,table, td, th,tr{
    font-family: Arial,sans-serif;
    font-size: medium;
    background-color: black;
    color: white;
    alignment: center;
    text-align: justify;
}
p::first-line{
    font-size: large;
}
a:link{
    color:  green;
    text-decoration-style: dotted;
}
a:visited{
    text-decoration-style: solid;
    color: darkred;
}
